<!-- wp:template-part {"slug": "header", "tagName": "header", "className": "site-header"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"50px","bottom":"50px"}}}} -->
<div class="wp-block-group alignwide">
  
    <!-- wp:heading {"level":1,"textAlign":"center"} -->
    <h1 class="has-text-align-center">404: Page Not Found</h1>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align": "center"} -->
    <p class="has-text-align-center">We're sorry, but we can't seem to find the page you're looking for. Check the URL or explore our latest posts.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
    <div class="wp-block-buttons">
      <!-- wp:button {"backgroundColor":"primary-blue","textColor":"light-bg"} -->
      <div class="wp-block-button"><a class="wp-block-button__link" href="/">Return Home</a></div>
      <!-- /wp:button -->
    </div>
    <!-- /wp:buttons -->
  
  </div>
  <!-- /wp:group -->
  
  <!-- wp:template-part {"slug": "footer", "tagName": "footer", "className": "site-footer"} /-->
  